<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Maitree&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style_buy.css">
    <title>Eat Me IT</title>
</head>
<body>
  <div class="barmain">
    <div class="logo"><img src="/static/logo.png" width="115"></div>
    <nav>
        <ul class="menubar">
          <li><a href="/templates/index.html">หน้าหลัก</a></li>
          <li class="mac"><a href="#" data-toggle="modal" data-target="#Q">จำนวนคิว </a></li>
        </ul>
    </nav>
  </div>
    <div class="container">
      <div class="row">
          <div class="col">
            <a href="#" ><div class="box" data-toggle="modal" data-target="#buy"><img src="/static/shop1.jpg" width="294px" height="295px"></div></a>
          </div>
          <div class="col">
            <a href="#"><div class="box" data-toggle="modal" data-target="#buy"><img src="/static/shop2.jpg" width="294px" height="295px"></div></a>
          </div>
          <div class="col">
            <a href="#"><div class="box" data-toggle="modal" data-target="#buy"><img src="/static/shop3.jpg" width="294px" height="295px"></div></a>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <a href="#"><div class="box" data-toggle="modal" data-target="#buy"><img src="/static/shop4.jpg" width="294px" height="295px"></div></a>
          </div>
          <div class="col">
            <a href="#"><div class="box" data-toggle="modal" data-target="#buy"><img src="/static/shop5.jpg" width="294px" height="295px"></div></a>
          </div>
          <div class="col">
            <a href="#"><div class="box" data-toggle="modal" data-target="#buy"><img src="/static/shop6.jpg" width="294px" height="295px"></div></a>
          </div>
        </div>
    </div>
<!-- ปุ่มผู้ซื้อ -->
  <div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">รายการอาหาร</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-success">ยืนยัน</button>
        </div>  
      </div>
    </div>
  </div>
<!-- จำนวนคิว -->
<div class="modal fade" id="Q" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">รายการอาหาร</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

        </div> 
      </div>
    </div>
  </div>
</body>
</html>