<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Eat Me IT</title>
            <link rel="stylesheet" href="/static/style_sell.css">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Maitree&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/templates/index.html" class="logo"><img src="/static/logo.png" width="115"></a>
            <div class="menu-toggle"></div>
            <nav>
                <ul>
                    <a href="#">เปลียนไปตามหมายเลขร้าน</a>
                    <li class="active"><a href="/templates/index.html   "><i class="fa fa-home" aria-hidden="true"></i> หน้าแรก</a></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> ออกจากระบบ</a></li>
                </ul>
            </nav>
            <div class="clearfix"></div>
        </header>
        <div class="container">
            <form>
                <input type="submit" value="ทำเสร็จแล้ว">
                <input type="submit" value="จ่ายเงินแล้ว">
            </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.menu-toggle').click(function(){
                    $('.menu-toggle').toggleClass('active')
                    $('nav').toggleClass('active')
                })
            })
        </script>
        <script type="text/javascript">
            $(document).on('click', 'ul li', function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
        </script>
    </body>
</html>
